table {
    width: 75%;
    border: 1px solid #000;
  }
  
  th, td {
    width: 10%;
    text-align: left; 
    vertical-align: top; 
    border: 1px solid #000;
    border-collapse: collapse;
    }
    h1,h2,h3 {
        color: #369;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
      }
      h5 {
        color: #C90C0C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
      }
      